*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    /* min-height: 100vh; */
    background-color: rgb(58, 58, 58);
    /* background:url('/jpg/final.png') no-repeat;
    background-size:cover;
    background-position: center; */
   

}

header{
    
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    
    padding: 10px 100px;
    
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgb(35, 35, 35);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.logo{
    font-size: 2em;
    color:#fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
   width: 130px;
   height: 50px;
   background: transparent;
   border: 2px solid #fff;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1.1em;
   color: #fff;
   font-weight: 500;
   margin-left: 40px;
}
.navigation .btnLogin-popup:hover{
    background-color: #fff;
    color:#162938;
}

h1{
    text-align: center;
    color: antiquewhite;
    font-size: 48px;
    
}
h2{
    text-align: center;
    margin: 30px 0;
}

.iconContainer{
    display: flex;
    justify-content:center;
    border-top: 3px solid rgb(176, 176, 176);
    border-bottom: 3px solid rgb(176, 176, 176);
    margin: 30px auto;
    
}
.iconItems{
    height: 80px;
    margin: 30px 20px;
}

.container{
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    
}

.itemsa{
   
    width: 400px;
    height: 100px;
}
.itemsb{
   
    width: 1300px;
    height: 800px;
    display: flex;


}
.itemsc{
    /* outline: 3px solid tomato; */
    display: f;
    width: 800px;
    /* height: 400px; */
    text-align:justify;
    font-size: 20px;
    color: aliceblue;
    border-radius: 15px;
   background-color: rgb(96, 95, 93);
   margin-bottom: 50px;
   padding: 20px 20px;
}
.work{
    text-decoration: none;
    font-size: 60px;
    background-color:bisque;
    
    border-radius: 10px;
}





footer{
    
    /* display: block; */
    outline: 3px solid rgb(21, 255, 212);
    /* max-height: 1000px; */
    width: 100%;
    background-color: aqua;
}
